@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap");

.navbar {
  background: none;
}

.Home {
  height: 700px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Merriweather Sans", sans-serif;
  background-image: url("https://images.pexels.com/photos/255464/pexels-photo-255464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.introDiv {
  margin-top: 8%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  color: white;
  text-align: center;
  width: 50%;
  height: 300px;
  left: 25%;
}

.introText {
  margin-top: 7%;
}
